<h5>Curso</h5>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Grado</th>
      <th scope="col">Edad</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th scope="row"><%= @alumno.nombre%></th>
      <td><%= @alumno.grado%></td>
      <td><%= @alumno.edad%></td>
      <td class="action-container">
      <%= link_to edit_alumno_path(@alumno), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-pencil'></i>
          <p>Editar</p>
        </div>
      <% end %>
      <%= link_to notas_alumno_path(@alumno), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-notepad'></i>
          <p>Notas</p>
        </div>
      <% end %>
      <%= button_to @alumno, method: :delete, :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-trash-alt' ></i>
          <p>Borrar</p>
        </div>
      <% end %>
      </td>
    </tr>
  </tbody>
</table>

<h5>Cursos asignados</h5>
<%= render 'alumnosCurso' %>

<div>
  <%= link_to "Lista de alumnos", alumnos_path, :class=>"btn btn-warning" %>
</div>