<h1>Cursos</h1>


<form class="form-inline" action="/cursos" method="get">
  <div class="form-group mx-sm-3 mb-2">
    <label for="inputPassword2" class="sr-only">Busqueda</label>
    <input type="text" class="form-control" id="buscar" placeholder="Ingrese nombre a buscar" name="buscar" value="<%= params[:buscar] %>">
  </div>
  <button type="submit" class="btn btn-dark">Buscar</button>
  <a href="/cursos" class="btn btn-dark">Limpiar</a>
</form>
<hr>

<div id="cursos">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Curso</th>
      <th scope="col">Profesor</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <% @cursos.each do |curso| %>
    <tr>
      <th scope="row"><%= curso.nombre%></th>
      <td><%= curso.profesor%></td>
      <td class="action-container">
      <%= link_to edit_curso_path(curso), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-pencil'></i>
          <p>Editar</p>
        </div>
      <% end %>
            <%= link_to notas_curso_path(curso), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-notepad'></i>
          <p>Notas</p>
        </div>
      <% end %>
      <%=button_to curso, method: :delete, :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-trash-alt' ></i>
          <p>Borrar</p>
        </div>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
  
</div>

<%= link_to "Nuevo curso", new_curso_path, :class=>"btn btn-dark" %> <br> <br> <br>

<%= paginate @cursos, theme: 'bootstrap-5',
    pagination_class: "pagination-sm flex-wrap justify-content-center",
    nav_class: "d-inline-block" %>
    <hr>
