<h4 style="margin-top: 20px;">Notas de <%= @curso.nombre %></h4>

<%= form_with url: "", method: :get do |form| %>
  <%= form.collection_select :alumno, @alumnos, :id, :nombre, { selected: params[:alumno], :include_blank => 'Todos los aumnos'}, {onchange: 'this.form.submit()', class: 'form-select'}%>
<% end %>

<% if @notas.length > 0 %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Alumno</th>
      <th scope="col">Nota</th>
      <th scope="col">Bimestre</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <% @notas.each do |nota| %>
    <tr>
      <th scope="row"><%= nota.alumno.nombre%></th>
      <td><%= nota.total%> pts</td>
      <td><%= nota.bimestre%></td>
      <td class="action-container">
      <%= link_to edit_nota_path(nota), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-pencil'></i>
          <p>Editar</p>
        </div>
      <% end %>
      <% if nota.abierto? %>
      <%= link_to cierre_nota_path(nota), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bx-stop'></i>
          <p>Cerrar</p>
        </div>
      <% end %>  
      <% end %>
      <%=button_to nota, method: :delete, :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-trash-alt' ></i>
          <p>Borrar</p>
        </div>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <h4 style="margin: 20px 0px;">No hay notas disponibles</h4>
<% end %>

<%# Muestra el promedio %>
<div class="promedio">
<h5>Promedio:</h5>
<h5><%=number_with_precision(@sumatoria_notas, precision: 2)%> pts</h5>
</div>


<%= link_to "Crear Nota", new_nota_path(:alumno =>params[:alumno] , :curso =>@curso.id), :class=>"btn btn-dark"  %>