
<%= simple_form_for(@nota) do |f| %>

  <div class="form-inputs">
    <%= f.association :curso, label_method: :nombre, :selected => params[:curso], :include_blank => "Selecciona curso"%>
    <%= f.association :alumno, label_method: :nombre, :selected => params[:alumno], :include_blank => "Selecciona alumno" %>
    <%= f.input :bimestre%>
    <%= f.input :parcial1, label: 'Parcial 1'%>
    <%= f.input :parcial2, label: 'Parcial 2' %>
    <%= f.input :zona %>
    <%= f.input :examen %>
    <%= f.input :estado_cierre, input_html: { readonly: true } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>"btn btn-dark", :style=>"margin-top: 10px"  %>
  </div>
<% end %>
