
<%= simple_form_for(@nota) do |f| %>

  <div class="form-inputs">
    <%= f.association :curso, label_method: :nombre %>
    <%= f.association :alumno, label_method: :nombre  %>
    <%= f.input :bimestre%>
    <%= f.input :parcial1, label: 'Parcial 1'%>
    <%= f.input :parcial2, label: 'Parcial 2' %>
    <%= f.input :zona %>
    <%= f.input :examen %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>"btn btn-dark", :style=>"margin-top: 10px"  %>
  </div>
<% end %>
