<div id="<%= dom_id nota %>">
  <p>
    <strong>Curso:</strong>
    <%= nota.curso_id %>
  </p>

  <p>
    <strong>Alumno:</strong>
    <%= nota.alumno_id %>
  </p>

  <p>
    <strong>Parcial1:</strong>
    <%= nota.parcial1 %>
  </p>

  <p>
    <strong>Parcial2:</strong>
    <%= nota.parcial2 %>
  </p>

  <p>
    <strong>Zona:</strong>
    <%= nota.zona %>
  </p>

  <p>
    <strong>Examen:</strong>
    <%= nota.examen %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= nota.total %>
  </p>

</div>
