<h1>Notas</h1>

<div class="btn-container">
<a href="/notas/new" class="btn btn-dark card-btn"><i class='bx bx-plus' ></i>Nueva Nota</a>
<a href="/notas/top10" class="btn btn-dark card-btn"><i class='bx bxs-trophy' ></i>Top 10 alumnos</a>
<a href="/notas/recuperacion" class="btn btn-dark card-btn"><i class='bx bx-sync' ></i>Recuperación</a>
<a href="/notas/download?curso=<%= params[:curso] %>&alumno=<%= params[:alumno]%>&bimestre=<%= params[:bimestre]%>" class="btn-green card-btn"><i class='bx bx-grid' ></i>Descargar Excel</a>
</div>


<form class="form" action="/notas" method="get">
  <%= form_with url: "", method: :get do |form| %>
    <div style="margin-top: 15px" class="row">
      <div class="form-group col-4">
        <h6>Buscar por curso</h6>
        <%= form.collection_select :curso, Curso.all, :id, :nombre, { selected: params[:curso], :include_blank => 'Selecciona un curso'}, {onchange: 'this.form.submit()', class: 'form-select'}%>
      </div>
      <div class="form-group col-4">
        <h6>Buscar por alumno</h6>
        <%= form.collection_select :alumno, Alumno.all, :id, :nombre, { selected: params[:alumno], :include_blank => 'Selecciona un alumno'}, {onchange: 'this.form.submit()', class: 'form-select'}%>
      </div>
      <div class="form-group col-4">
        <h6>Buscar por bimestre</h6>
        <%= form.select :bimestre, [1,2,3,4,5],  { selected: params[:bimestre], :include_blank => 'Selecciona un bimestre'}, {onchange: 'this.form.submit()', class: 'form-select'}%>
      </div>
    </div>
  <% end %>
<div style="margin-top: 15px">
  <a href="/notas" class="btn btn-dark">Limpiar</a>
</div>
</form>

<hr>



<div id="notas">


  <table class="table">
  <thead>
    <tr>
      <th scope="col">Alumno</th>
      <th scope="col">Curso</th>
      <th scope="col">Nota</th>
      <th scope="col">Bimestre</th>
      <th scope="col">Promedio</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>

  <tbody>
  <% @notas.each do |nota| %>
    <tr>
      <th scope="row"><%= nota.alumno.nombre%></th>
      <td><%= nota.curso.nombre%></td>
      <td><%= nota.total%></td>
      <td><%= nota.bimestre%></td>
      <td><%= nota.promedio%></td>
      <td class="action-container">
      <%= link_to edit_nota_path(nota), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-pencil'></i>
          <p>Editar</p>
        </div>
      <% end %>
      <% if nota.abierto? %>
      <%= link_to cierre_nota_path(nota), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bx-stop'></i>
          <p>Cerrar</p>
        </div>
      <% end %>  
      <% end %>
       <%= link_to notas_alumno_path(nota.alumno, :curso => nota.curso.id), :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-notepad'></i>
          <p>Notas</p>
        </div>
      <% end %>
      <%=button_to nota, method: :delete, :class=>"action-link" do %>
        <div class="action-btn">
          <i class='bx bxs-trash-alt' ></i>
          <p>Borrar</p>
        </div>
      <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>

<%= paginate @notas, theme: 'bootstrap-5',
    pagination_class: "pagination-sm flex-wrap justify-content-center",
    nav_class: "d-inline-block" %>
    <hr>
